body{
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
form{
    height: 7vh;
    display: flex;
    width: 100%;
    margin-top: 80%;
    bottom:0;
    position: sticky;
}
.head{
    background: rgb(44, 1, 122);
    position: sticky;
    top: 0;
}
#emoji{
    background: rgb(255, 255, 255);
    outline: none;
}
.allContain{
    background-image: url(images5.jpg);
    width: 40%;
    height: 80%;
    border-style: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y:scroll;
    overflow-x: hidden;
}
#notic{
    width: 30px;
    height: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#text{
    width: 80%;
    outline: none;
}
#submit{
    width: 15%;
    background: rgb(0, 41, 153);
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}
li{
    list-style: none;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    
}
span{
    padding: 5px;
    border-radius: 5px;
}
.nameSpan{
    display: block;
    margin-bottom: 5px;
}
.nameIt{
    color:yellow;
}
.other{
    padding: 10px;
    border-radius: 10px;
}
.notificate{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: aliceblue;
    padding: 20px;
    margin-top: -30px;
}
ul{
    display: block;
}
.chart{
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 40px;
}